body {
	margin:0 ;
	font-family:sans-serif;
}

ul li{
	margin-bottom:10px;
}
div.head {
	width:100% ;
	height:1.5rem ;
	color:white ;
	padding:10px;
	
}
div.shop {
	background-color:#25a825 ;	
}
div.snews{
	background-color:#ffc ;	
}
div.enews{
	background-color:#cff ;	
}
div.ann{
	background-color:#fcf ;	
}
div.top{
	background-color:#888 ;	
}
input,select,button,textarea {
	font-family:sans-serif;
	font-size:1rem ;
}

dt {
	width:10rem ;
	vertical-align: bottom ;
	border-bottom:1px solid #aaa ;
}
dd {
	margin:0;
	padding:0 ;
	margin-left:10rem ;
	margin-top: -1.5rem ;
	vertical-align: top ;

}

input[type=submit],button {
	background-color:#ffc886 ;
}
a {
	text-decoration: none ;
	color:blue ;
}
span.button {
	padding:6px ;
	line-height:200% ;
	color:black ;
	border:1px solid black ;
	background-color:#ffc886 ;
	text-decoration: none ;
	white-space:nowrap ;	
}



div.base {
	margin:2rem ;
	
}
div.base a{
	margin:4px 8px;
}

div.forms {
	margin-left:2rem ;
	margin-bottom:2rem ;
	line-height:200% ;
}

table {
	border:1px solid black ;
	border-collapse: collapse ;
	margin-top:1rem ;
}
table td,th {
	border:1px solid black ;
	padding:0.5rem ;
}
th {
	background-color:#444 ;
	color:white ;
}


div.emsg {
	color:red ;
}

div.simg img {
	max-width:200px ;
}
span.name {
	margin-left:2rem ;
	color:#fff ;
	text-shadow:0px 0px 5px black ;
	
}
span.name:before {
	content:"login: " ;
}